body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 98vh;
  width: 100vw;
}

.page-contents {
  display: flex;
  flex-direction: row;
}

.etch-a-sketch {
  display: flex;
  flex-wrap: wrap;
  height: 50vh;
  width: 50vh;
  border: solid 5px;
}

.eas-pixel {
  box-sizing: border-box;
  border: solid 1px;
  background-color: rgba(0, 0, 0, 0);
}

.grayfill {
  background-color: rgb(48, 48, 48);
}
